@charset "UTF-8";
footer div, main section > div, header h1 {
  width: min(95%, 1200px);
  margin-inline: auto;
}

/*--------------- 基本設定 ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: Arial, sans-serif, "微軟正黑體";
  line-height: 1;
  color: white;
}

a {
  color: #0059ff;
  text-decoration: none;
  transition: color 0.5s ease;
}
a:hover {
  color: #2c76ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "mizolet", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: clamp(20vw, 1.667rem + 6.944vw, 10rem);
}

h3 {
  font-size: clamp(2rem, 1.333rem + 1.389vw, 3rem);
}

h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.8;
}

span {
  display: block;
}

/*--------------- header區塊 ---------------*/
header {
  position: absolute;
  width: 100%;
  padding-block: 3rem;
}
header h1 {
  font-size: 2rem;
  font-family: "Rajdhani";
  font-weight: normal;
  letter-spacing: 0.5rem;
}

/*--------------- 每日行程區塊 ---------------*/
main section {
  display: flex;
  flex-direction: column;
  padding-block: 10rem;
}
main section > div {
  padding: 5rem 3rem;
  background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 75%, rgba(0, 108, 158, 0.8));
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
main section > div.dayTitle {
  background: transparent;
  border: none;
  -webkit-backdrop-filter: unset;
          backdrop-filter: unset;
  position: relative;
  padding: 0;
  padding-bottom: clamp(8rem, 3.333rem + 9.722vw, 15rem);
}
main section > div.dayTitle h2 {
  /* 大區域名稱 */
  width: 90%;
  opacity: 1;
  text-shadow: black 0 0 0.5em;
}
main section article {
  margin-bottom: 6rem;
}
main section article:last-child {
  margin-bottom: 0;
}

/* 當日主要地區 */
.info > * {
  margin-bottom: 3rem;
}
.info > *:last-child {
  margin-bottom: 0;
}
.info h2 {
  /* 大區域名稱 */
  opacity: 1;
  text-shadow: black 0 0 0.5em;
}
.info .description {
  /* 大區域簡介 */
  text-shadow: black 0 0 5px;
  margin-bottom: 1em;
}

/* 當日景點 */
.sight > div {
  display: flex;
  background: rgb(255, 255, 255);
  color: #222;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px;
  margin-bottom: 3rem;
}
.sight > div .sightImg {
  /* 景點圖片區塊 */
  width: 50%;
  background: center center;
  background-size: cover;
  border-radius: 8px 0 0 8px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}
.sight > div .content {
  /* 景點介紹區塊 */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
}
.sight > div .content h3 {
  /* 景點名稱 */
  text-align: right;
}
.sight > div .content .feature {
  /* 景點特色 */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #8eb0d4;
  padding: 1rem;
}
.sight > div .content .feature h4 {
  font-family: "Rajdhani";
  font-weight: bold;
}
.sight > div .content .feature p {
  display: flex;
}
.sight > div .content .feature p::before {
  content: "✦";
  margin-right: 0.4rem;
}
.sight > div .content .feature p:nth-child(2n+1)::before {
  /* 第一個顏色（紅色） */
  color: rgb(255, 136, 39);
}
.sight > div .content .feature p:nth-child(2n+2)::before {
  /* 第二個顏色（黃色） */
  color: rgb(255, 57, 123);
}
.sight > div .content .link {
  display: flex;
}
.sight > div .content .link a {
  /*相關連結按鈕*/
  display: block;
  padding: 0.5rem 3rem;
  border: 1px solid #0059ff;
}
.sight > div .content .link a:hover {
  border-color: #2c76ff;
}
.sight > div:nth-of-type(odd) {
  /*每隔一個排列相反*/
  flex-direction: row-reverse;
}
.sight > div:nth-of-type(odd) .sightImg {
  border-radius: 0 8px 8px 0;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.sight > div:nth-of-type(odd) .content h3 {
  text-align: left;
}

/* 當日美食 */
.food {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1.5rem;
}
.food a {
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(25% - 1.125rem);
  max-width: calc(25% - 1.125rem);
  background: rgb(255, 255, 255);
  color: #222;
  border-radius: 8px;
}
.food a .foodImg {
  height: 10rem;
  background-position: center center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.food a .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.food a:hover .foodImg {
  opacity: 0.9;
}

/* 當日景點、當日美食標題 */
.sight h2,
.food h2 {
  font-family: "Rajdhani";
  font-size: clamp(3rem, 2.333rem + 1.389vw, 4rem);
  font-weight: 100;
  width: 100%;
  opacity: 0.7;
  margin-bottom: 1.5rem;
}

.food h2 {
  margin-bottom: 0;
}

/* 第N天文字 */
.date {
  font-family: "mizolet";
  position: absolute;
  transform: rotate(90deg);
  right: -5rem;
  top: 5.5rem;
  font-size: 5rem;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.8);
}

/* 每日大背景圖 */
.day {
  background: black no-repeat center fixed;
  background-size: cover;
}

/* 行程箭頭 */
.arrow-container {
  display: flex;
}

.arrow {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  margin-right: -12px;
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
          clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
}
.arrow:first-child {
  /* 第一個箭頭 */
  padding-left: 2rem;
  border-radius: 20px 0 0 20px;
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
          clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
}
.arrow:last-child {
  /* 最後一個箭頭 */
  padding-right: 2rem;
  border-radius: 0 20px 20px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15px 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15px 50%);
}

/*--------------- footer區塊 ---------------*/
footer {
  background: #333;
  color: rgb(129, 129, 129);
  text-align: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 0.6rem 0;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Pad */
@media screen and (max-width: 1024px) {
  main section > div {
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 90%, rgba(0, 108, 158, 0.8));
  }
  .food a {
    flex: 1 0 calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
  }
  .date {
    position: unset;
    transform: unset;
    right: unset;
    top: unset;
    font-size: clamp(1.2rem, -0.6rem + 3.75vw, 1.8rem);
    display: block;
    margin: 0 0 0.8rem 0.5rem;
    color: rgb(255, 255, 255);
  }
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile */
@media screen and (max-width: 768px) {
  header {
    padding: 1rem 0;
    position: relative;
    text-align: center;
  }
  header h1 {
    font-size: 1.5rem;
    width: 100%;
  }
  main section {
    padding-block: 4rem;
  }
  main section:first-child {
    padding-block: 4rem;
  }
  main section > div {
    padding: 2rem 1rem;
  }
  main section > div.dayTitle {
    padding-bottom: 0 0 5rem;
  }
  main section > div.dayTitle h2 {
    width: 100%;
  }
  main section article {
    margin-bottom: 3rem;
  }
  .info > * {
    margin-bottom: 2rem;
  }
  .sight h2 {
    margin-bottom: 1rem;
  }
  .sight > div,
  .sight > div:nth-of-type(odd) {
    margin-bottom: 2rem;
    flex-direction: column;
  }
  .sight > div .sightImg,
  .sight > div:nth-of-type(odd) .sightImg {
    width: 100%;
    height: 15rem;
    border-radius: 8px 8px 0 0;
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
  .sight > div .content,
  .sight > div:nth-of-type(odd) .content {
    padding: 1.5rem 1rem 1rem;
  }
  .sight > div .content h3,
  .sight > div:nth-of-type(odd) .content h3 {
    text-align: left;
    margin-bottom: 0;
  }
  .food {
    gap: 1rem;
  }
  .food a {
    flex: 1 0 calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
  }
  .food h2 {
    margin-bottom: 0;
  }
  .day {
    background-position: bottom 25% center;
  }
}/*# sourceMappingURL=style.css.map */