/*--------------- 基本設定 ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    font-family: Arial, sans-serif, "微軟正黑體";
    line-height: 1;
    color: white;
}

a {
    color: #0059ff;
    text-decoration: none;
    transition: color .5s ease;

    &:hover {
        color: #2c76ff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "mizolet", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: clamp(5rem, 2rem + 8vw, 7rem);
}

h3 {
    font-size: clamp(2rem, 0.5rem + 4vw, 3rem);
}

h4 {
    font-size: 1.2rem;
}

p {
    line-height: 1.8;
}

span {
    display: block;
}


/*--------------- header區塊 ---------------*/
header {
    position: absolute;
    width: 100%;
    padding-block: 3rem;

    h1 {
        font-size: 2rem;
        font-family: 'Rajdhani';
        font-weight: normal;
        width: min(95%, 1000px);
        margin-inline: auto;
        letter-spacing: .5rem;
    }
}


/*--------------- 每日行程區塊 ---------------*/
main section {
    display: flex;
    flex-direction: column;
    padding-block: 10rem;

    &>div {
        width: min(95%, 1000px);
        margin-inline: auto;
        padding: 3rem 2rem 5rem;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 75%, rgba(0, 108, 158, 0.8));
        backdrop-filter: blur(6px);
    }

    article {
        margin-bottom: 6rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* 當日主要地區 */
.info {
    &>* {
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        /* 地區名稱 */
        opacity: 1;
        text-shadow: black 0 0 .5em;
    }

    .description {
        /* 地區簡介 */
        text-shadow: black 0 0 5px;
        margin-bottom: 1em;
    }
}

/* 當日景點 */
.sight {
    &>div {
        display: flex;
        background: rgba(255, 255, 255, 1);
        color: #222;
        backdrop-filter: blur(5px);
        border-radius: 8px;
        margin-bottom: 3rem;

        .sightImg {
            /* 景點圖片區塊 */
            width: 40%;
            background: center center;
            background-size: cover;
            border-radius: 8px 0 0 8px;
            clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
        }

        .content {
            /* 景點介紹區塊 */
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 2rem;

            h3 {
                /* 景點名稱 */
                text-align: right;
            }

            .feature {
                /* 景點特色 */
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border: 1px solid #8eb0d4;
                padding: 1rem;

                h4 {
                    font-family: 'Rajdhani';
                    font-weight: bold;
                }

                p {
                    display: flex;

                    &::before {
                        content: "✦";
                        margin-right: .4rem;
                    }

                    &:nth-child(2n+1)::before {
                        /* 第一個顏色（紅色） */
                        color: rgb(255, 136, 39);
                    }

                    &:nth-child(2n+2)::before {
                        /* 第二個顏色（黃色） */
                        color: rgb(255, 57, 123);
                    }
                }
            }

            .link {
                display: flex;

                a {
                    /*相關連結按鈕*/
                    display: block;
                    padding: .5rem 3rem;
                    border: 1px solid #2699db;
                }
            }
        }

        &:nth-of-type(odd) {
            /*每隔一個排列相反*/
            flex-direction: row-reverse;

            .sightImg {
                border-radius: 0 8px 8px 0;
                clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            .content {
                h3 {
                    text-align: left;
                }
            }
        }
    }
}

/* 當日美食 */
.food {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1.5rem;

    a {
        display: flex;
        flex-direction: column;
        flex: 1 0 calc(25% - 1.125rem);
        max-width: calc(25% - 1.125rem);
        background: rgb(255, 255, 255);
        color: #222;
        border-radius: 8px;

        .foodImg {
            height: 10rem;
            background-position: center center;
            background-size: cover;
            border-radius: 8px 8px 0 0;
            opacity: 1;
            transition: opacity .3s ease;
        }

        .content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        &:hover {
            .foodImg {
                opacity: .9;
            }
        }
    }
}

/* 當日景點、當日美食標題 */
.sight,
.food {
    h2 {
        font-family: 'Rajdhani';
        font-size: clamp(3rem, 1.5rem + 4vw, 4rem);
        font-weight: 100;
        width: 100%;
        opacity: .7;
        margin-bottom: 1.5rem;
    }
}

.food h2 {
    margin-bottom: 0;
}

/* 第N天文字 */
.date {
    position: absolute;
    transform: rotate(90deg);
    right: -2rem;
    top: 6rem;
    font-size: 5rem;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.3);
}

/* 每日大背景圖 */
.day {
    background: black no-repeat center fixed;
    background-size: cover;
}

/* 行程箭頭 */
.arrow-container {
    display: flex;
}

.arrow {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    margin-right: -13px;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);

    &:first-child {
        /* 第一個箭頭 */
        padding-left: 2rem;
        border-radius: 20px 0 0 20px;
        clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
    }

    &:last-child {
        /* 最後一個箭頭 */
        padding-right: 2rem;
        border-radius: 0 20px 20px 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15px 50%);
    }
}


/*--------------- footer區塊 ---------------*/
footer {
    background: #333;
    color: rgb(129, 129, 129);
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: .6rem 0;

    div {
        width: min(95%, 1000px);
        margin-inline: auto;
    }
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Pad */
@media screen and (max-width: 992px) {
    .food {
        a {
            flex: 1 0 calc(33.33% - 1rem);
            max-width: calc(33.33% - 1rem);
        }
    }
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile */
@media screen and (max-width: 600px) {

    header {
        padding: 1rem 0;
        position: relative;
        text-align: center;

        h1 {
            font-size: 1.5rem;
            width: 100%;
        }
    }

    main section {
        padding-block: 4rem;

        &:first-child {
            padding-block: 4rem;
        }

        &>div {
            padding: 2rem 1rem;
        }

        article {
            margin-bottom: 3rem;
        }
    }

    .info>* {
        margin-bottom: 2rem;
    }

    .sight {
        h2 {
            margin-bottom: 1rem;
        }
    }

    .sight>div,
    .sight>div:nth-of-type(odd) {
        margin-bottom: 2rem;
        flex-direction: column;

        .sightImg {
            width: 100%;
            height: 15rem;
            border-radius: 8px 8px 0 0;
            clip-path: inset(0);
        }

        .content {
            padding: 1.5rem 1rem 1rem;

            h3 {
                text-align: left;
                margin-bottom: 0;
            }
        }
    }

    .food {
        gap: 1rem;

        a {
            flex: 1 0 calc(50% - 0.5rem);
            max-width: calc(50% - 0.5rem);
        }

        h2 {
            margin-bottom: 0;
        }
    }

    .date {
        all: unset;
        font-size: 1.2rem;
        display: block;
        margin-bottom: 1rem;
    }
}